<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="D:\data\logs\internal\webjobs\WebhookSubscription\internal-nlog.txt">

  <extensions>
    <add assembly="Microsoft.Extensions.Logging.Abstractions"/>
    <add assembly="NLog.Extensions.AzureStorage"/>
  </extensions>

  <targets>
    <target xsi:type="AzureBlobStorage"
            name="AzureBlobStorage"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}"
            blobName="logs/sample-cicd/${shortdate}.log"
            connectionString="DefaultEndpointsProtocol=https;AccountName=kolektoasyncjobs;AccountKey=MzzptryoLX5ruJSoLEQkSLsZntsJ1PvdU3XVYBR5zOLb5hx5JXapWdUKPjKNXFtKn8NZS5tUTlLLKUq6FOBQCw==;EndpointSuffix=core.windows.net"
            container="kolekto-webjobs"
    />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="AzureBlobStorage" />
  </rules>
</nlog>